@import "./../../../../scss/variables";

.modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	.modal__icon {
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
		color: white;
	}

	.modal__header--right {
		margin-left: auto;
	}

	.modal__header--left {
		display: flex;
		align-items: center;
		font-size: $font-lg;

		& > * {
			margin-right: 1rem;
		}
	}
}
